.checkbox-item {
    padding: 25px 25px;
}
.checkbox-label {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}
label.checkbox-container {
    padding: 12px;
}
.item-form-check {
    margin-top: 25px;
}
.supplier form-check{
    margin-top: 25px;
}